<a class="navbar-sub-item" href="{{{ relativize "/home/index.html" }}}">Home</a>
<a class="navbar-sub-item" href="{{{ relativize "/home/getting_started.html" }}}">Getting Started</a>
<a class="navbar-sub-item" href="{{{ relativize "/home/concepts/s3.html" }}}">Concepts</a>
<a class="navbar-sub-item" href="{{{ relativize "/home/tutorials/end-to-end_data_pipeline_example.html" }}}">Tutorials</a>
<a class="navbar-sub-item" href="{{{ relativize "/stackablectl/stable/index.html" }}}">stackablectl</a>
<div class="navbar-sub-item drop-down">
    Operators
    <div class="drop-down-content">
    <a class="drop-down-item" href="{{{ relativize "/home/operators/index.html" }}}">Overview</a>
    <a class="drop-down-item" href="{{{ relativize "/airflow/stable/index.html" }}}">Apache Airflow</a>
    <a class="drop-down-item" href="{{{ relativize "/druid/stable/index.html" }}}">Apache Druid</a>
    <a class="drop-down-item" href="{{{ relativize "/hbase/stable/index.html" }}}">Apache HBase</a>
    <a class="drop-down-item" href="{{{ relativize "/hdfs/stable/index.html" }}}">Apache Hadoop HDFS</a>
    <a class="drop-down-item" href="{{{ relativize "/hive/stable/index.html" }}}">Apache Hive</a>
    <a class="drop-down-item" href="{{{ relativize "/kafka/stable/index.html" }}}">Apache Kafka</a>
    <a class="drop-down-item" href="{{{ relativize "/nifi/stable/index.html" }}}">Apache NiFi</a>
    <a class="drop-down-item" href="{{{ relativize "/spark/stable/index.html" }}}">Apache Spark (standalone)</a>
    <a class="drop-down-item" href="{{{ relativize "/spark-k8s/stable/index.html" }}}">Apache Spark on K8S</a>
    <a class="drop-down-item" href="{{{ relativize "/superset/stable/index.html" }}}">Apache Superset</a>
    <a class="drop-down-item" href="{{{ relativize "/trino/stable/index.html" }}}">Trino</a>
    <a class="drop-down-item" href="{{{ relativize "/zookeeper/stable/index.html" }}}">Apache ZooKeeper</a>
    <a class="drop-down-item" href="{{{ relativize "/opa/stable/index.html" }}}">OpenPolicyAgent</a>
    <a class="drop-down-item" href="{{{ relativize "/commons-operator/stable/index.html" }}}">Commons</a>
    <a class="drop-down-item" href="{{{ relativize "/secret-operator/stable/index.html" }}}">Secret</a>
    </div>
</div>
<a class="navbar-sub-item" href="{{{ relativize "/home/contributor/index.html" }}}">Contribute</a>
